* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    background-color: #36454f;
    display: flex;
    align-items: center;
    padding: 20px;
}

.banner img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
}

.banner-text {
    color: #fff;
}

.banner-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.banner-text p {
    font-size: 16px;
}


nav{
    display: flex;
    flex-direction: column;
}

nav ul{
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: #36454f; 
}

nav a:hover {
    text-decoration: underline; 
}

@media (min-width:768px){
    nav{
        flex-direction: row;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

@media(min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr; 
    }
}

.card {
    background-color: #f7d2e3; 
    padding: 20px;
}

@media(min-width: 768px) {
    .learning-activities {
        grid-column: span 2; 
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p, ul, li, a {
    font-family: 'Roboto', sans-serif; 
}

.course-links{
    list-style-type: none;
}