* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
	background-color: #ffc0cb;
	padding: 20px;
	display: flex;
	align-items: center;
    flex-direction: column;
}

.profile-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.banner h1 {
	margin-right: 0px;
}

banner-text{
    text-align: center;
}

nav {
	background-color: #36454f;
	color: #fff;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
}

nav a:hover {
	text-decoration: overline;
}

.active {
	color: yellow;
}

@media (min-width:768px){
    nav{
        flex-direction: row;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

@media(min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr; 
    }
}

.card {
    background-color: #f7d2e3; 
    padding: 20px;
}

@media(min-width: 768px) {
    .learning-activities {
        grid-column: span 2; 
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p, ul, li, a {
    font-family: 'Roboto', sans-serif; 
}

.course-links{
    list-style-type: none;
}